 {{#if error}}
<div class="alert alert-danger">{{error}}</div>
{{/if}} {{#each errors}}
<div class="alert alert-danger">{{text}}</div>
{{else}} {{/each}} {{!-- 自己创建的错误提示是一个数组errors,而passport返回的只是一个error并不是数组，所以单独写出来 --}}