.masthead {
  text-align: center;
  margin-bottom: 0;
  border-radius: 0;
}

.jumbotron:after {
  background: url() repeat center center;
  opacity: 0;
}

.jumbotron {
  padding-bottom: 100px;
  background: #020031;
  background-image: linear-gradient(135deg, #81ffef 10%, #f067b4 100%);
}

.masthead h1 {
  font-weight: 700;
  font-size: 100px;
  color: white;
}

.masthead h2 {
  font-weight: 200;
  line-height: 1.25;
  color: white;
}

.masthead p .doc {
  font-size: 14px;
  color: white;
}

.btn-lg.btn-shadow {
  padding: 13px 35px 17px;
}

.bc-social-buttons li {
  text-align: center;
  display: inline-block;
  line-height: 1;
  color: #555;
  /*color: grey;*/
}

.bc-social-buttons li a {
  color: #555;
}

.bc-social {
  padding: 15px 0;
  text-align: center;
  background-color: #f5f5f5;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ddd;
}

.bc-social .bc-social-buttons .social-weibo .red:hover {
  color: red;
}
