<div class="container">
    {{#each ideas}}
    <div class="card card-body mt-2">
        <h4>{{title}}</h4>
        <p>{{details}}</p>
    </div>
    {{else}}
    <p>We Have No Ideas</p>
    {{/each}}
</div>